/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*generali*/
html {
	scroll-behavior: smooth;
}
body {
    font-family: 'Rubik', sans-serif;
}
/*menu header*/
header{
    position: fixed;
    right: 40px;
    top: 40px;
    z-index: 10;
}
nav li, nav li a {
    display: inline-block;           
}
nav li {
    padding-right: 20px;
}
nav li a {
    text-decoration: none;
    font-size: 14px ;
    font-weight: bold;    
    color: black;
    line-height: 30px ;
    text-align: center;
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2)  ;        
}
/*main*/
section {
    position: relative;
    height: 100vh;
}
.bg-red {
    background-color: coral;
}
.bg-green {
    background-color: seagreen;
}
.bg-yellow {
    background-color: darkorange;
}
/*sezione immagini*/

h2 {
    font-size: 40px;
    text-align: center;
}
.scarpe {
    display: inline-block;
    height: 80%;
}
.img-info{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

